.btn{
    padding: 0.4rem 2.6rem;
    font-size: 1rem;
    font-weight: 750;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    background-color: var(--tertiary);
    color:var(--primary);
    transition: all 0.3s ease;
}
.btn:hover{
    color: rgb(248, 248, 248);
    background: transparent;
    border: 2px solid var(--tertiary);
}
.flex{
    display: flex;
}
.alignitems{
    align-items: center;
}
.justifycontent{
    justify-content: center;
}
.wrap{
    flex-wrap: wrap;
}
.btn1{
    padding: 0.4rem 2.6rem;
    font-size: 1rem;
    font-weight: 750;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    background-color: var(--tertiary);
    color:var(--primary);
    border-radius: 2em;
    transition: all 0.3s ease;
}
.btn1:hover{
    color: rgb(248, 248, 248);
    background: transparent;
    border: 2px solid var(--tertiary);
}